html {
  height: 100%;
  font-size: 100%;
  box-sizing: border-box;
  text-size-adjust: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100%;
  background: #fff;
  color: #444;
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
  line-height: 1.6rem;
}

p,
h2 {
  margin-bottom: 1.6rem;
}

a {
  color: #EC407A;
}

/* center stuff on the page */
.page {
  width: 100%;
  max-width: 40rem;
  margin: 3.2rem auto;
  padding: 0 1rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  line-height: 3.2rem;
  margin-bottom: 3.2rem;
}

.title__desc {
  display: block;
  font-size: 1rem;
  line-height: 1.6rem;
}

/* playo */
.playo {
  margin-bottom: 1.6rem;
}

.playo__inside {
  padding: 1.6rem;
  background: #eee;
  box-shadow: inset 0 0 0 1px #ddd;
}

.btn {
  background: #eee;
  border: 0;
  line-height: 2.4rem;
  margin-bottom: 1.6rem;
  padding: 0 1.6rem;
}

pre,
code {
  background: #f7f7f7;
  font-family: 'Source Code Pro', monospace;
  font-size: .847rem;
  overflow-x: auto;
  vertical-align: top;
}
